@mixin il-pill {
  background-color: $color-primary;
  width: fit-content;
  height: 24px;
  border-radius: 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: $color-white;
  padding: 5px 10px;
  margin-bottom: 10px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  span {
    padding-left: 3px;
  }
  img {
    cursor: pointer;
  }
}
