@mixin il-select {
  ::ng-deep {
    .il-input-select {
      .mat-form-field-appearance-legacy .mat-form-field-label {
        font-size: 14px !important;
        top: 15px !important;
        color: $color-gray-1;
      }
      .mat-focused .mat-form-field-label {
        color: $color-primary !important;
      }
      .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: $color-primary !important;
      }
    }
  }
}
