@mixin il-textarea {
  ::ng-deep {
    mat-form-field {
      width: 100%;
    }
    // .mat-form-field-appearance-legacy .mat-form-field-underline {
    //   height: 0 !important;
    //   display: none !important;
    //   padding: 5px !important;
    // }
    textarea.mat-input-element {
      width: 100%;
      min-width: 100%;
      min-height: 50px;
      color: $color-black-1;
    }
  }
}
