@import "src/styleguide/shared";
.top-nav {
  @include topnav;
  @include fade-in;
  overflow: hidden;
}
.chat {
  cursor: pointer;
}
.active-link {
  background-color: $color-gray-3;
  border-bottom: 2px solid $color-primary;
}
mat-icon {
  position: relative;
  top: -5px;
  font-size: 32px;

}
