@mixin page-container {
  margin-top: 75px;
  // max-width: 1280px;
  // margin: 70px auto 0; 
  padding: 32px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  .header {
    margin-bottom: 20px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
  }
}
