@mixin topnav {
  box-shadow: $box-shadow;
  width: 100%;
  height: 65px;
  background-color: $color-white;
  padding: 0 30px 0 0;
  position: fixed;
  display: flex;
  z-index: 999;
  font-size: 14px;
  .menu-box {
    @include fade-in;
    margin-right: 1px;
    height: 64px;
    border-radius: 0;
    outline: 0;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    &.logo img {
      height: 40px;
      width: auto;
    }
    &:hover:not(.logo) {
      background-color: $color-gray-3;
    }
  }
  img.arrow {
    cursor: pointer;
    margin-right: 0 !important;
  }
  ::ng-deep {
    .mat-focused .placeholder {
      color: $color-black-1 !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      display: none;
    }
    .mat-badge-medium.mat-badge-after .mat-badge-content {
      right: -15px;
      top: -24px;
      width: 18px;
      height: 18px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
