@mixin il-topnav {
  box-shadow: $box-shadow;
  width: calc(100% - 250px);
  height: 64px;
  background-color: $color-white;
  padding: 0 30px;
  position: fixed;
  display: flex;
  z-index: 999;
  > div:first-child {
    padding: 10px 0 0 0;
  }
  img.search-icon {
    position: relative;
    top: -4px;
    margin-right: 5px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  img.arrow {
    cursor: pointer;
    margin-right: 0 !important;
  }
  ::ng-deep {
    .mat-form-field {
      width: 450px;
      font-size: 12px;
      font-weight: 500;
    }
    .mat-focused .placeholder {
      color: $color-black-1 !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      display: none;
    }
    .mat-badge-medium.mat-badge-after .mat-badge-content {
      right: -15px;
      top: -24px;
      width: 18px;
      height: 18px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
